<div class="container">
  <h3>Signup</h3>

  <form name='regForm' novalidate>
    <!-- First name -->
  <div class="form-group">
    <label>* First name</label>
    <span ng-if="(regForm.firstName.$error.minlength ||
                  regForm.firstName.$error.required) &&
                  regForm.firstName.$touched">
      !! Firstname must be at least 2 characters long !!
    </span>
    <input type="text"
           class="form-control"
           placeholder="First name"
           name="firstName"
           ng-model="signUpCtrl.user.firstName"
           required
           minlength="2"
           ng-maxlength="20">
  </div>
  <!-- Last name-->
  <div class="form-group">
    <label>* Last name </label>
    <span ng-if="(regForm.lastName.$error.minlength ||
                  regForm.lastName.$error.required) &&
                  regForm.lastName.$touched">
      !! Last name must be at least 2 characters long !!
    </span>
    <input type="text"
           class="form-control"
           placeholder="Lastname"
           name="lastName"
           ng-model="signUpCtrl.user.lastName"
           required
           minlength="2"
           ng-maxlength="20">
  </div>
  <!-- Email -->

  <div class="form-group">
    <label>* Email </label>
    <span ng-if="(regForm.email.$invalid || regForm.email.$error.required) &&
                  regForm.email.$touched">
      Must be a valid email address: handle@domain format
    </span>
    <input type="email"
           name="email"
           class="form-control"
           placeholder="Email"
           ng-model="signUpCtrl.user.email"
           required>
  </div>
  <!-- Phone -->
  <div class="form-group">
    <label>* Phone</label>
    <span ng-if="(regForm.phone.$invalid || regForm.phone.$error.required) &&
                 regForm.phone.$touched">
      Phone must be in the format ###-###-####.
    </span>
    <input type="tel"
           name="phone"
           class="form-control"
           placeholder="Phone ###-###-####"
           ng-model="signUpCtrl.user.phone"
           pattern="(\d{3})-(\d{3})-(\d{4})"
           required>
  </div>

  <!-- Favorite -->
  <div class="form-group">
    <label>Favorite</label>
    <span ng-if="signUpCtrl.displayNoValidItem()">
      No valid item number
    </span>
    <input type="text"
           class="form-control"
           ng-model="signUpCtrl.user.favorite"
           placeholder="Favorite menu number">
  </div>

  <button type="submit"
          ng-disabled="regForm.$invalid"
          class="btn btn-default"
          ng-click='signUpCtrl.signUp()'>
          Submit
  </button>

</form>
<span ng-if="signUpCtrl.isSaved()">
  Your data is saved!
</span>
</div>
